html
    include includes/header.pug
    body
        #history
        form.chat-box(method="POST")
            input#message(type="text", name='message', autocomplete="off")
            input(type="submit", value='send')


        include includes/footer.pug