html, body{
    font-family: Arial, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background:#302F31;
    padding:10px;
}

h1,p{
    color: #ffffff;
}

.hidden{
    display: none;
}

form{
    margin:15px 0;
}

form input[type='text']{
    border:2px solid #45C5BF;
    border-radius: 5px;
    padding:5px;
    width:75%;
}

form input[type='submit']{
    background: #45C5BF;
    border:none;
    border-radius: 5px;
    color:#FFF;
    cursor:pointer;
    font-weight: bold;
    padding:7px 5px;
    width:19%;
}

#history{
    background: #FFF;
    border:2px solid #45C5BF;
    height: 550px;
    width: 90%;
    margin: 0 auto;
    overflow-y: scroll;
}

#history .message-container{
    width: 100%;
    display: inline-block;
}

#history .message-box.sent{
    float: right;
}

#history .message-box{
    width: fit-content!important;
    padding: 1rem 0.5rem;
    background: #ddd;
    border-radius: 0.5rem;
    margin: 1rem;
    display: block;
}

#history .message-box p{
    margin: 0;
}

#footer p{
    color: #FFFFFF;
}