html, body{
    font-family: Arial, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
}
body{
    background:#302F31;
    padding:10px;
}

h1.chat-title{
    color: #45C5BF;
    text-align: center;
}

.hidden{
    display: none;
}

form.chat-box{
    margin: 0 auto;
    height: 10%;
}

form.chat-box input{
    height: 100%;
}

form.chat-box input[type='text']{
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    width: 90%;
}

form.chat-box input[type='submit']{
    background: #45C5BF;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    font-weight: bold;
    padding:7px 5px;
    width:10%;
    font-size: 1rem;
}

div#history{
    background: #FFF;
    height: 70%;
    background-color: #3c3c3c;
    width: 90%;
    margin: 0 auto;
    overflow-y: scroll;
}

div#history .message-container{
    width: 100%;
    display: inline-block;
}

div#history .message-box.sent{
    background-color: #ddfffd;
    float: right;
}

div#history .message-box{
    width: fit-content!important;
    padding: 1rem 0.5rem;
    background: #ddd;
    border-radius: 0.5rem;
    margin: 1rem;
    display: block;
}

div#history .message-box p{
    font-size: 1rem;
    margin: 0;
    color: #333333;
}

div#history::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

div#history::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

div#history::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.chat-box{
    width: 90%;
    display: block;
    margin: 0 auto;
}

#footer p{
    color: #FFFFFF;
}

@media only screen and (max-width: 850px){
    h1.chat-title{
        font-size: 3rem;
    }

    div#history .message-box{
        padding: 1rem 1.5rem;
    }

    div#history .message-box small{
        font-size: 0.7rem;
    }

    form.chat-box input[type='text']{
        width: 80%;
        font-size: 1rem;
    }
    
    form.chat-box input[type='submit']{
        width:20%;
        font-size: 1.2rem;
    }
}